header{
    background-color: burlywood;
    display: flex;
    gap: 10px;

    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.videos{
    width: 1024px;
    margin: 0 auto;
    

    display: flex;
    gap: 10px;
    justify-content: center;
}

iframe{
    border-radius: 50%;
    transition: .7s;
}

iframe:hover{
    width: 500px;
    height: 500px;
}